*,
::before,
::after {
  box-sizing: border-box;
}

body {
  background-color: rgb(250, 250, 250);
  color: rgb(38, 38, 38);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

a {
  color: rgb(0, 55, 107);
  text-decoration: none;
}

a:hover,
a:focus {
  color: rgb(0, 55, 107);
}

table {
  text-indent: 0;
  border-collapse: collapse;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}

.img-responsive {
  height: auto;
  max-width: 100%;
}

.c-btn {
  align-items: center;
  background-color: rgb(219, 219, 219);
  border: 1px solid transparent;
  color: rgb(38, 38, 38);
  cursor: pointer;
  display: inline-flex;
  font-size: 0.875rem;
  font-weight: 400;
  justify-content: center;
  line-height: 1.25rem;
  padding: 0.438rem 1rem;
  text-align: center;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.c-btn-sm {
  padding: 0.313rem 1rem;
}

.c-btn-lg {
  font-size: 1rem;
  padding: 0.563rem 1.125rem;
}

.c-btn-pill {
  border-radius: 10rem;
}

.c-btn-outline {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(219, 219, 219);
}

.c-btn-link {
  background-color: transparent;
}

.c-frm {
  display: block;
  padding: 0.438rem 1rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
  color: rgb(38, 38, 38);
  border: 1px solid transparent;
  background-color: rgb(239, 239, 239);
  outline: 0;
}

.c-frm-w-icon {
  position: relative;
}

.c-frm-w-icon .c-frm:not(:first-child) {
  padding-left: 2.5rem;
}

.c-frm-w-icon .c-frm:not(:last-child) {
  padding-right: 2.5rem;
}

.c-frm-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 2.5rem;
  font-size: 1.2rem;
}

.c-frm-icon:last-child {
  right: 0;
  left: auto;
}

.c-frm-icon .feather {
  width: 1.25rem;
  height: 1.25rem;
  font-size: 1.25rem;
  vertical-align: bottom;
  stroke-width: 1.5;
}

.c-frm-pill {
  border-radius: 10rem;
}

.c-frm-outline {
  border: 1px solid rgb(219, 219, 219);
  background-color: rgb(255, 255, 255);
}

.site-header {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 1px 0px rgb(219, 219, 219);
  width: 100%;
}

.navbar-header .block:first-child img,
.navbar-header .block:nth-child(2) img {
  height: 2.25rem;
}

.c-frm.responsive {
  border-radius: 0.5rem;
  font-size: 16px;
}

.c-btn.toggle {
  background-color: transparent;
  padding: 4px;
}

.wrap {
  padding-left: 1rem;
  padding-right: 1rem;
}

.navbar-header {
  align-items: center;
  display: flex;
  min-height: 3.5rem;
}

.page .page-title {
  font-weight: 600;
}

.search .navbar-header .block:first-child {
  display: none;
}

.navbar-header .block:first-child,
.navbar-header .block:last-child {
  flex: 1;
}

.navbar-header .block:first-child > .block-item {
  align-content: stretch;
  align-items: stretch;
  display: flex;
  flex: 0 0 auto;
  justify-content: flex-start;
}

.navbar-header .block:last-child > .block-item {
  align-content: center;
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

.content .h1 {
  font-size: 16px;
  font-weight: 400;
  margin: 0px;
}

.home .search-bar,
.single .search-bar,
.archive .search-bar {
  display: none;
}

.single .navbar-collapse {
  display: none;
}

.navbar-nav {
  align-items: center;
  display: flex;
  min-height: 3.5rem;
}

.navbar-nav li {
  margin-left: 0.75rem;
}

.navbar-nav li:first-child {
  margin-left: 0;
}

.navbar-nav li a {
  color: rgb(38, 38, 38);
}

.navbar-nav li a:hover {
  color: rgb(0, 0, 0);
}

@media (min-width: 1024px) {
  .search .site-header .wrap {
    justify-content: center;
  }
  .wrap {
    align-items: center;
    display: flex;
    margin: 0 auto;
    max-width: 72rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
@media (min-width: 1024px) {
  .home .search-bar,
  .single .search-bar,
  .archive .search-bar,
  .single .navbar-collapse {
    display: block;
  }
  .home .search-bar {
    margin-left: 2rem;
  }
  .search .search-bar {
    width: 42rem;
  }
}
@media (min-width: 1024px) {
  .c-frm.responsive {
    border-radius: 10rem;
    padding: 0.563rem 1.125rem;
  }
  .c-btn.toggle {
    padding: 0.438rem;
  }
}
@media (min-width: 1024px) {
  .navbar-header,
  .navbar-nav {
    min-height: 4rem;
  }
  .navbar-collapse {
    margin-left: auto;
  }
  .navbar-nav li {
    margin-left: 2rem;
  }
}
@media (min-width: 1024px) {
  .search .navbar-header .block:first-child,
  .page .navbar-header .block:first-child,
  .page .navbar-header .block:last-child {
    display: block;
  }
  .navbar-header .block:first-child,
  .navbar-header .block:last-child {
    display: none;
  }
}
@media (min-width: 1024px) {
  .navbar-header .block:first-child {
    flex: 0;
  }
  .navbar-header .block:nth-child(2) {
    margin-left: 2rem;
  }
  .navbar-header .block:nth-child(2).logo {
    margin-left: 0px;
  }
}
@media (min-width: 1024px) {
  .navbar-header .block:first-child img,
  .navbar-header .block:nth-child(2) img {
    height: 2.5rem;
  }
}
@media (max-width: 1024px) {
  .navbar-nav li a {
    align-items: center;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 10rem;
    color: rgb(38, 38, 38);
    cursor: pointer;
    display: inline-flex;
    font-size: 0.875rem;
    font-weight: 400;
    justify-content: center;
    line-height: 1.25rem;
    padding: 0.313rem 1rem;
    text-align: center;
    user-select: none;
    white-space: nowrap;
  }
  .navbar-nav li a:hover {
    background-color: rgb(240, 253, 244);
    border-color: rgb(34, 197, 94);
    color: rgb(22, 163, 74);
  }
  .navbar-collapse {
    overflow-x: scroll;
  }
  .search .search-bar {
    width: 100%;
  }
  .search .navbar-header .block:last-child {
    margin-left: 0.75rem;
  }
}
.flex {
  display: flex;
}

.flex-1 {
  flex: 1 1 0%;
}

.pill {
  border-radius: 10rem;
}

.m-0 {
  margin: 0px;
}

.p-0 {
  padding: 0px;
}

.rounded {
  border-radius: 0.25rem;
}

.w-full {
  width: 100%;
}